{% extends 'properties/base.html' %}
{% block title %}
  About- Real EState
{% endblock %}
{% block style %}
{% endblock %}
{% block body %}
  <div class="container">
    <div class="box about ">
      <h3 class="text-center">About Us</h3>
    </div>
    <div class="content">
      <p class="p1">Launched in 2005, Nestly.com, India’s No. 1 property portal, deals with every aspect of the consumers’ needs in the real estate industry. It is an online forum where buyers, sellers and brokers/agents can exchange information about real estate properties quickly, effectively and inexpensively. At Nestly.com, you can advertise a property, search for a property, browse through properties, build your own property microsite, and keep yourself updated with the latest news and trends making headlines in the realty sector.</p>

      <h3>✨ Why realestate.com?</h3>
      <p class="p1">At present, realestate.com prides itself for having around nine lakh property listings spanning across 600+ cities in India. Of all, the website held over 5.7 lakh paid listings at the end of FY 2018-19. In addition to providing an online platform to real estate developers, brokers and property owners for listing their property for sale, purchase or rent, Nestly.com offers advertisement stints such as microsites, banners, home page links and project pages to the clients for better visibility and branding in the market. With the ever-evolving online search behaviour, Nestly.com shares updated information pertinent to real estate activities, assisting prospective buyers to make informed buying decision. We make online property search easier, quicker and smarter!</p>

      <div class="box award">
        <h3 class="text-center">Awards & Recognitions</h3>
      </div>

      <ul ><li>Nestly.com won the award for ‘Personalized User Journey</li>
    <li>PropTech Mobile App of the Year Award 2019</li>


<li>Best Mobile Appies Award 2015</li>

<li>Nestly.com won the award for having the ‘Most Innovative Mobile App’ in the real estate category

CMO ASIA Awards 2012</li>



<li>Accommodation Times Awards 2012</li>

<li>Nestly.com was announced the ‘Best Online Realty Portal’ by the Accommodation Times in 2012.</li>
    
    
    
    
    </ul>
    </div>
  </div>
{% endblock %}
