{% extends 'properties/base.html' %}
{% load static %}
{% block title %}Privacy{% endblock title %}
{% block style %}
    <link rel="stylesheet" href="{% static 'properties/style.css' %}" />
     <link href="{% static 'properties/main_css/bootstrap.min.css' %}" rel="stylesheet">


{% endblock style %}
{% block body %}


 
<div class="container privacy ">
    <div class="content">
        <h4 class="h1">Privacy Policy</h4>
        <p class="p1">The website https://www.nobroker.in and the mobile application ‘Nobroker’ (together“Website”) is owned and operated by Nobroker Technology Solutions Private Limited, a company incorporated in India under the Companies Act, 1956 (“Company”). The Company is engaged in the business of facilitating owners, tenants, buyers and sellers to explore and identify all kinds of immovable properties including lands, buildings, factories, houses, flats, and other residential, commercial, and industrial plots and properties and enabling them to carry on transaction of purchase, sale, licensing, leasing, hiring, renting or otherwise relating to movable and immovable properties and other related services (“Services”).
</p>
<p class="p1">This Privacy Policy (“Privacy Policy”) sets out the privacy practices of the Company with respect to the entire content of the Website.</p>
<p class="p1">For the purposes of this Privacy Policy, the words “us”, “we”, and “our” refer to the Company and all references to “you”, “your” or “user”, as applicable mean the person who accesses, uses and/or participates in the Website in any manner or capacity.
</p>
<p class="p1"><strong>By using our Services and the Website or by otherwise giving us your information, you agree to the terms of this Privacy Policy. You also expressly consent to our use and disclosure of your Personal Information (as defined below) in the manner prescribed under this Privacy Policy and further signify your agreement to this Privacy Policy and the Terms of Use. If you do not agree to this Privacy Policy, do not subscribe to the Services, use the Website or give us any of your information</strong></p>
    
<ol>
    <li>COLLECTION OF INFORMATION</li>
    <p class="p1">We may collect information from you, through your use of the Website or by joining the Nobroker community on social media websites, or which is provided to one of our marketing partners or through any engagement with Nobroker. We may collect and process personal information provided by you, including but not limited to:</p>
<p class="p1">Information that you provide at the time of registration including any information that identifies or can be used to identify, contact or locate the user such as name, address, email address, property photos, bank details, and phone number.</p>


<li>USE OF THE INFORMATION COLLECTED</li>
<span>Use of the Information for Services</span>
<p class="p1">The primary goal of the Company in collecting the information is to provide you a platform for the purpose of providing the Services. The Company may use the Personal Information provided by you in the following ways:</p>
<li>SHARING OF INFORMATION</li>
<span>Consulting</span>
<p class="p1">The Company may partner with another party to provide certain specific services if required. When you sign-up for such services, the Company will share names, or other Personal Information that is necessary for the third party to provide these Services. The Company’s contractual arrangements with such third parties restrict these parties from using personally identifiable information except for the explicit purpose of assisting in the provision of these Services.
Targeted Advertising</p>
<p class="p1">
    You expressly acknowledge and agree that we may also share or transfer your Personal Information to third-party service providers, for the limited purpose of allowing or permitting such third-party service providers, including Google, and other social media websites to display Nobroker advertisements and notifications on websites across the Internet, based on the information that is collected by Nobroker, to optimize and display advertisements based on your past preferences and visits on the Website as part of its Services. The Company does not allow any unauthorized persons or organization to use any information that the Company may collect from you through this Website.
</p>
<span>Regulatory Disclosures</span>
<p class="p1">We cooperate with government and law enforcement officials and private parties to enforce and comply with the law. Thus, we may access, use, store, transfer and disclose your information (including Personal Information), including disclosure to third parties such as government or law enforcement officials or private parties as we reasonably determine is necessary and appropriate: (i) to satisfy any applicable law, regulation, governmental requests or legal process; (ii) to protect the safety, rights, property or security of the Company, our Services, the Website or any third party; (iii) to protect the safety of the public for any reason; (iv) to detect, prevent or otherwise address fraud, security or technical issues; and /or (v) to prevent or stop any activity we consider to be, or to pose a risk of being, an illegal, unethical, or legally actionable activity. Such disclosures may be carried out without notice to you.
Referrals</p>







</ol>



</div>
</div>
{% endblock body %}









































