{% extends "properties/base.html" %}
{% load static %}
{% block style %}

  <link href="{% static 'properties/main_css/bootstrap.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="{% static 'properties/main_css/style.css' %}" />

{% endblock style %}
{% block body %}
  <!-- Hero -->
<section class="emi-hero">
    <h1>BUDGET Calculator</h1>
    <p>Check your home buying budgets</p>
</section>

<!-- Tabs -->
<div class="emi-tab-container">
    <div class="emi-tab" onclick="scrollToSection('emiCalculatorSection')">Calculate Budget</div>
    <div class="emi-tab" onclick="scrollToSection('emiFaqSection')">FAQs</div>
</div>

<!-- EMI Section -->
<section class="emi-section" id="emiCalculatorSection">
     <h4 class="text-center">Budget Estimator</h4>
    <div class="emi-form">
         <label>Monthly Income (₹)</label>
        <input type="number" id="monthlyIncome" class="form-control" placeholder="50000">

        <label>How Much EMI You Can Afford? (₹)</label>
        <input type="number" id="customEmi" class="form-control" placeholder="Leave empty to auto-calculate (40% of income)">
        <label> Loan Tenure (Years)</label>
        <input type="number" id="budgetTenure" placeholder="5">
        <label>Interest Rate (%)</label>
        <input type="number" step="0.01" id="budgetRate" class="form-control" required>
     




        

        <button onclick="calculateBudget()">Estimate</button>
        <div><small class="text-muted ">*Estimated budget is calculated at an average interest rate of 8.75%</small></div>
        

        <div class="emi-result" id="budgetResult"></div>
    </div>
</section>

<!-- FAQ Section -->
<section class="emi-section" id="emiFaqSection">
    <h4>Frequently asked questions about EMI Calculator</h4>
    <small class="mt-2">Know what questions the users frequently asks about EMI calculators</small>

    <div class="faq-item">
        <button class="faq-question" onclick="toggleFaq(this)">
            Q1: What is EMI?
        </button>
        <div class="faq-answer">
            <p>EMI stands for equated monthly installments. As a borrower, you need to pay the lender a fixed amount every month on a specified date. The EMI is the sum total of the principal amount and the interest amount divided over the tenure of the loan. However, your monthly value is fixed for each month, the principal amount paid and interest amount paid changes every month. For the first few years, the interest portion is higher. With time, the interest amount keeps reducing and principal amount keeps increasing. Therefore, your 70-75% interest will be paid in the first few years of the entire loan tenure.</p>
        </div>
    </div>

    <div class="faq-item">
        <button class="faq-question" onclick="toggleFaq(this)">
            Q2: How is EMI calculated?
        </button>
        <div class="faq-answer">
            <p>EMI is calculated using the principal loan amount, interest rate, and loan tenure.</p>
        </div>
    </div>

    <div class="faq-item">
        <button class="faq-question" onclick="toggleFaq(this)">
            Q3: Can I pay off EMI early?
        </button>
        <div class="faq-answer">
            <p>Yes, but prepayment terms depend on your lender.</p>
        </div>
    </div>
    <div class="faq-item">
        <button class="faq-question" onclick="toggleFaq(this)">
            Q3: What is Home-Loan EMI?
        </button>
        <div class="faq-answer">
            <p>Home loan is a loan taken from any financial institution for buying a house. The EMI that is calculated for this loan is termed as a Home loan EMI..</p>
        </div>
    </div>
</section>


{% endblock body %}
{% block js %}
<script src="{% static 'properties/main_js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'properties/main_js/main.js' %}"></script>
  <script src="{% static 'properties/main_js/emi.js' %}"></script>
{% endblock js %}

